@using Shop.Domain.Models
@model Shop.Web.ViewModels.HomeViewModel

<br />
<h1>Best Cars</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.FavCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>